body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 7em;
}
.mainboard{
    border: 4px white solid;
    width: 50em;
    height: 50em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.inside{
    border: 4px solid red;
}
.readbox{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    font-size: 10rem;
    text-align: center;
    border: none;
}
.readbox:hover{
    border: 4px solid grey;
}


#div1 { grid-area: 1 / 1 / 2 / 2; }
#div2 { grid-area: 1 / 2 / 2 / 3; }
#div3 { grid-area: 1 / 3 / 2 / 4; }
#div4 { grid-area: 2 / 3 / 3 / 4; }
#div5 { grid-area: 2 / 2 / 3 / 3; }
#div6 { grid-area: 2 / 1 / 3 / 2; }
#div7 { grid-area: 3 / 1 / 4 / 2; }
#div8 { grid-area: 3 / 2 / 4 / 3; }
#div9 { grid-area: 3 / 3 / 4 / 4; }